#root {
  padding: 100px;
}

.post-trends_day {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 5px solid #f3f6f8;
	background-color: #c8d7e1;
	margin: 0;

  &.is-hovered {
    border-color: #00aacd;
  }
  &.is-outside-month {
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
  }
  &.is-after-today {
    background-color: #d9e3ea;
  }

  &.is-level-1 {
    &.blue{
      background-color: #91e2fb;
    }
  }

  &.is-level-2 {
    &.blue{
      background-color: #00bef6;
    }
  }

  &.is-level-3 {
    &.blue{
      background-color: #0083a9;
    }
  }

  &.is-level-4 {
    &.blue{
      background-color: #003443;
    }
  }


}
